
*{
    margin: 0;
    padding: 0;
  
}

html,body{
    line-height:1.7rem;
   background: url('../images/homebg.jpg') no-repeat center center/cover;
   background-position-y: 100px;
}



a{
   color: #333;
   text-decoration: none;
   
}


#navbar{
    background: #474b52;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#navbar h1{
   float: left;
   margin: 50px 950px;
   font-size: 100px;

}

p{ 
  padding-top: 300px;
  padding-left: 600px;
  font-size: 100px;
  color: #fff;
  opacity: 0.5;
  

}

#fade-in{
animation: fadeIn 8s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.5;
    }
}




#button {
	box-shadow: 0px 4px 14px 6px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	font-weight:bold;
	padding:13px 46px;
	text-decoration:none;
    text-shadow:0px -1px 0px #3d768a;
    opacity: 0.8;
    margin: 0px 700px;
    margin-top: 300px;
}
#button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
#button:active {
	position:relative;
	top:1px;
}

 .button2{
    
    margin: 0px 700px;
    margin-top: -350px; 
}







